@model IEnumerable<StudentInformationSystem.Models.Student>

@{
    ViewBag.Title = "Index";
}
<div>
    @Html.TextBox("txtSearch", null, new { @class = "txtSearch", placeholder = "Search by Name..." })
</div>

<div id="main_content">
    @Html.Partial("_GetStudentData")
</div>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $(document).ready(function () {
        $("#txtSearch").keyup(function () {
            var searchValue = $("#txtSearch").val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetStudentsBySearchValue")',
                data: { searchValue },
                dataType: 'html',
                success: function (response) {
                    $("#main_content").html(response);
                },
                error: function (errMessage) {
                    $("#main_content").html(errMessage);
                }
            });
        });
    });
</script>